<html>
    <head>
        <title>LIBRARY</title>
    </head>
    <body>
        <p><a href="/authors">Authors</a>. Click here to see all of the Authors and to add a Author.</p>
        <p><a href="/books">Books</a>. Click here to see all of the Books and to add a Book.</p>
    </body>
</html>
